<FlexboxLayout class="page">
	<StackLayout class="form">
		<!--<Image class="logo" src="~/images/logo.png"></Image>-->
		<Label class="header" text="Map Fights"></Label>

		<GridLayout rows="auto, auto, auto">
			<StackLayout row="0" class="input-field">
				<TextField class="input" hint="Login" [isEnabled]="!processing" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.login" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>

			<StackLayout row="1" class="input-field">
				<TextField #password class="input" [isEnabled]="!processing" hint="Password" secure="true" [(ngModel)]="user.password" [returnKeyType]="'done'" (returnPress)="focusConfirmPassword()"></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>

			<ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
		</GridLayout>

		<Button [text]="'Log In'" [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
	</StackLayout>
</FlexboxLayout>
